.input {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 18px;
  margin-bottom: 8px;
  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #756f86;
    text-transform: capitalize;
  }
  &__item {
    width: 100%;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    padding: 15px;
    margin: 6px 0;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #2c2738;
    &::placeholder {
      text-transform: capitalize;
      font-family: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #7c9cbf;
    }
    &:focus {
      border: 2px solid #0880ae;
      margin: 5px -1px;
      outline: none;
    }
  }
  &__error {
    position: absolute;
    bottom: 0;
    left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
  }
}
