.button {
  background: #0880ae;
  box-shadow: 0 2px 4px rgba(44, 39, 56, 0.08), 0 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 18px 45px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ebf4f8;
  text-transform: capitalize;
  width: 100%;
  &:hover {
    box-shadow: 0 12px 24px rgba(44, 39, 56, 0.08), 0 24px 48px rgba(44, 39, 56, 0.16);
  }
  &:active {
    border: 2px solid rgba(44, 39, 56, 0.86);
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001), 0px 4px 8px rgba(44, 39, 56, 0.08);
  }
}
