.form {
  background: #ffffff;
  box-shadow: 0 12px 24px rgba(44, 39, 56, 0.02), 0 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;
  min-width: 360px;
  max-width: 680px;
  width: 100%;
  padding: 40px 30px;
  margin: 2rem;
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    color: #2c2738;
    margin: 0;
    padding-bottom: 8px;
  }
  &__text {
    padding: 0;
    margin: 0 0 53px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2c2738;
  }
  &__title-link {
    text-decoration: none;
    text-transform: capitalize;
    color: #0880ae;
  }
  &__checkbox {
    display: flex;
    margin: 27px 0 38px;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
  }
  &__contract {
    margin-left: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #756f86;
  }
  &__checkbox-link {
    text-decoration: none;
    color: #0880ae;
  }
}
