@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./IBMPlexSans-Medium.eot') format('embedded-opentype'),
  url('./IBMPlexSans-Medium.woff') format('woff'),
  url('./IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./IBMPlexSans.eot') format('embedded-opentype'),
  url('./IBMPlexSans.woff') format('woff'),
  url('./IBMPlexSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}